@use '../mixins' as *;

.text-with-image {
    &__image {

        @include mqmin($bp-lg) {
            flex-basis: 50%;
        }
        
        figure {
            img {
                width: 100%;
            }
        }
    }
    &__text {
        padding: rem(32);
        @include mqmin($bp-lg) {
            flex-basis: 50%;
            padding: rem(16) rem(32);
        }
    }
}